<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" routerLink="temp" type="button">Template-Form</button>
      <button class="btn btn-outline-success" routerLink="react" type="button">Reactive-Form</button>
    </form>
  </nav>

  <!-- <app-templateform></app-templateform>
  <app-reactiveform></app-reactiveform> -->
  
<!-- <input type="button" class="btn-1" value="Template-Template" routerLink="template">
<input type="button" class="btn-2" value="Reactive-Template" routerLink="reactive"> -->
<router-outlet></router-outlet>


